@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  background: linear-gradient(180deg, #f4f4f4 0%, #ffffff 100%);
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.h-100-vh {
  min-height: 100vh;
}

.offcanvas-body {
  background-color: #F9F9F9;
}

.fit-height {
  min-height: calc(100vh - 160px);
}

ul {
  padding: 0;
  margin: 0;
}

.scroll-mob {
  overflow: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
}
@media (min-width: 992px) {
  .scroll-mob {
    flex-wrap: wrap;
  }
}

.status {
  display: flex;
  border-radius: 35px;
  padding: 4px 16px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.not-started {
  background: rgba(252, 188, 188, 0.3);
  border: 1px solid rgba(255, 92, 92, 0.3);
  color: var(--danger);
}

.make-up {
  background: rgba(252, 149, 18, 0.1);
  border: 1px solid rgba(252, 149, 18, 0.3);
  color: #FC9512;
}

.class-left {
  background: rgba(0, 175, 255, 0.1);
  border: 1px solid rgba(0, 175, 255, 0.3);
  color: var(--primary);
}

.completed {
  background: rgba(15, 247, 163, 0.1);
  border: 1px solid #0FF7A3;
  color: var(--success);
}

.no-show {
  background: rgba(144, 137, 252, 0.1);
  border: 1px solid rgba(144, 137, 252, 0.3);
  color: #9089FC;
}

a {
  text-decoration: none;
}

.head-user {
  height: 43px;
  width: 43px;
  border-radius: 160px;
  overflow: hidden;
  border: 1px solid #f1f1f1;
}
.head-user img {
  width: 100%;
  height: 43px;
  -o-object-fit: cover;
     object-fit: cover;
}

.active-class .plain-card {
  background-color: var(--heading);
  color: var(--white);
}
.active-class .plain-card h2 {
  color: var(--white) !important;
}
.active-class .plain-card span {
  color: var(--white);
}

hr {
  border-color: #999;
}

ul {
  list-style: none;
}

.btn-primary {
  background-color: var(--primary) !important;
  height: 50px !important;
  padding: 14px 26px;
  gap: 8px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-out;
}
.btn-primary:hover {
  background-color: var(--primary-light) !important;
  cursor: pointer;
  color: var(--white);
}

.fit-full-image {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner {
  background-image: url(../img/banner.webp);
  background-position: center center;
  background-size: cover;
}

.banner-content {
  height: 797px;
}

header .menu ul {
  display: flex;
  gap: 28px;
  align-items: center;
  list-style: none;
}
header .menu ul li a {
  color: var(--text);
}

.sub-head {
  min-height: 40px;
  background-color: var(--dark-cyan);
}

.offcanvas-body {
  background-color: var(--dark-cyan);
  padding: 0px;
}
.offcanvas-body ul li a {
  color: var(--white);
  padding: 16px 0px;
  display: flex;
}

.ri-menu-line {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--white);
  height: 42px;
  width: 42px;
  font-size: 18px;
}

.offcanvas {
  background-color: var(--dark-cyan);
  width: 300px !important;
}

footer {
  background-color: #002F3F;
  color: var(--white);
}

.padding-top {
  padding-top: 60px;
}
@media (min-width: 992px) {
  .padding-top {
    padding-top: 140px;
  }
}

.padding-bottom {
  padding-bottom: 60px;
}
@media (min-width: 992px) {
  .padding-bottom {
    padding-bottom: 140px;
  }
}

.width-50 {
  width: 50px;
}

.width-51 {
  width: 51px;
}

.width-52 {
  width: 52px;
}

.width-53 {
  width: 53px;
}

.width-54 {
  width: 54px;
}

.width-55 {
  width: 55px;
}

.width-56 {
  width: 56px;
}

.width-57 {
  width: 57px;
}

.width-58 {
  width: 58px;
}

.width-59 {
  width: 59px;
}

.width-60 {
  width: 60px;
}

.width-61 {
  width: 61px;
}

.width-62 {
  width: 62px;
}

.width-63 {
  width: 63px;
}

.width-64 {
  width: 64px;
}

.width-65 {
  width: 65px;
}

.width-66 {
  width: 66px;
}

.width-67 {
  width: 67px;
}

.width-68 {
  width: 68px;
}

.width-69 {
  width: 69px;
}

.width-70 {
  width: 70px;
}

.width-71 {
  width: 71px;
}

.width-72 {
  width: 72px;
}

.width-73 {
  width: 73px;
}

.width-74 {
  width: 74px;
}

.width-75 {
  width: 75px;
}

.width-76 {
  width: 76px;
}

.width-77 {
  width: 77px;
}

.width-78 {
  width: 78px;
}

.width-79 {
  width: 79px;
}

.width-80 {
  width: 80px;
}

.width-81 {
  width: 81px;
}

.width-82 {
  width: 82px;
}

.width-83 {
  width: 83px;
}

.width-84 {
  width: 84px;
}

.width-85 {
  width: 85px;
}

.width-86 {
  width: 86px;
}

.width-87 {
  width: 87px;
}

.width-88 {
  width: 88px;
}

.width-89 {
  width: 89px;
}

.width-90 {
  width: 90px;
}

.width-91 {
  width: 91px;
}

.width-92 {
  width: 92px;
}

.width-93 {
  width: 93px;
}

.width-94 {
  width: 94px;
}

.width-95 {
  width: 95px;
}

.width-96 {
  width: 96px;
}

.width-97 {
  width: 97px;
}

.width-98 {
  width: 98px;
}

.width-99 {
  width: 99px;
}

.width-100 {
  width: 100px;
}

.width-101 {
  width: 101px;
}

.width-102 {
  width: 102px;
}

.width-103 {
  width: 103px;
}

.width-104 {
  width: 104px;
}

.width-105 {
  width: 105px;
}

.width-106 {
  width: 106px;
}

.width-107 {
  width: 107px;
}

.width-108 {
  width: 108px;
}

.width-109 {
  width: 109px;
}

.width-110 {
  width: 110px;
}

.width-111 {
  width: 111px;
}

.width-112 {
  width: 112px;
}

.width-113 {
  width: 113px;
}

.width-114 {
  width: 114px;
}

.width-115 {
  width: 115px;
}

.width-116 {
  width: 116px;
}

.width-117 {
  width: 117px;
}

.width-118 {
  width: 118px;
}

.width-119 {
  width: 119px;
}

.width-120 {
  width: 120px;
}

.width-121 {
  width: 121px;
}

.width-122 {
  width: 122px;
}

.width-123 {
  width: 123px;
}

.width-124 {
  width: 124px;
}

.width-125 {
  width: 125px;
}

.width-126 {
  width: 126px;
}

.width-127 {
  width: 127px;
}

.width-128 {
  width: 128px;
}

.width-129 {
  width: 129px;
}

.width-130 {
  width: 130px;
}

.width-131 {
  width: 131px;
}

.width-132 {
  width: 132px;
}

.width-133 {
  width: 133px;
}

.width-134 {
  width: 134px;
}

.width-135 {
  width: 135px;
}

.width-136 {
  width: 136px;
}

.width-137 {
  width: 137px;
}

.width-138 {
  width: 138px;
}

.width-139 {
  width: 139px;
}

.width-140 {
  width: 140px;
}

.width-141 {
  width: 141px;
}

.width-142 {
  width: 142px;
}

.width-143 {
  width: 143px;
}

.width-144 {
  width: 144px;
}

.width-145 {
  width: 145px;
}

.width-146 {
  width: 146px;
}

.width-147 {
  width: 147px;
}

.width-148 {
  width: 148px;
}

.width-149 {
  width: 149px;
}

.width-150 {
  width: 150px;
}

.width-151 {
  width: 151px;
}

.width-152 {
  width: 152px;
}

.width-153 {
  width: 153px;
}

.width-154 {
  width: 154px;
}

.width-155 {
  width: 155px;
}

.width-156 {
  width: 156px;
}

.width-157 {
  width: 157px;
}

.width-158 {
  width: 158px;
}

.width-159 {
  width: 159px;
}

.width-160 {
  width: 160px;
}

.width-161 {
  width: 161px;
}

.width-162 {
  width: 162px;
}

.width-163 {
  width: 163px;
}

.width-164 {
  width: 164px;
}

.width-165 {
  width: 165px;
}

.width-166 {
  width: 166px;
}

.width-167 {
  width: 167px;
}

.width-168 {
  width: 168px;
}

.width-169 {
  width: 169px;
}

.width-170 {
  width: 170px;
}

.width-171 {
  width: 171px;
}

.width-172 {
  width: 172px;
}

.width-173 {
  width: 173px;
}

.width-174 {
  width: 174px;
}

.width-175 {
  width: 175px;
}

.width-176 {
  width: 176px;
}

.width-177 {
  width: 177px;
}

.width-178 {
  width: 178px;
}

.width-179 {
  width: 179px;
}

.width-180 {
  width: 180px;
}

.width-181 {
  width: 181px;
}

.width-182 {
  width: 182px;
}

.width-183 {
  width: 183px;
}

.width-184 {
  width: 184px;
}

.width-185 {
  width: 185px;
}

.width-186 {
  width: 186px;
}

.width-187 {
  width: 187px;
}

.width-188 {
  width: 188px;
}

.width-189 {
  width: 189px;
}

.width-190 {
  width: 190px;
}

.width-191 {
  width: 191px;
}

.width-192 {
  width: 192px;
}

.width-193 {
  width: 193px;
}

.width-194 {
  width: 194px;
}

.width-195 {
  width: 195px;
}

.width-196 {
  width: 196px;
}

.width-197 {
  width: 197px;
}

.width-198 {
  width: 198px;
}

.width-199 {
  width: 199px;
}

.width-200 {
  width: 200px;
}

.width-201 {
  width: 201px;
}

.width-202 {
  width: 202px;
}

.width-203 {
  width: 203px;
}

.width-204 {
  width: 204px;
}

.width-205 {
  width: 205px;
}

.width-206 {
  width: 206px;
}

.width-207 {
  width: 207px;
}

.width-208 {
  width: 208px;
}

.width-209 {
  width: 209px;
}

.width-210 {
  width: 210px;
}

.width-211 {
  width: 211px;
}

.width-212 {
  width: 212px;
}

.width-213 {
  width: 213px;
}

.width-214 {
  width: 214px;
}

.width-215 {
  width: 215px;
}

.width-216 {
  width: 216px;
}

.width-217 {
  width: 217px;
}

.width-218 {
  width: 218px;
}

.width-219 {
  width: 219px;
}

.width-220 {
  width: 220px;
}

.width-221 {
  width: 221px;
}

.width-222 {
  width: 222px;
}

.width-223 {
  width: 223px;
}

.width-224 {
  width: 224px;
}

.width-225 {
  width: 225px;
}

.width-226 {
  width: 226px;
}

.width-227 {
  width: 227px;
}

.width-228 {
  width: 228px;
}

.width-229 {
  width: 229px;
}

.width-230 {
  width: 230px;
}

.width-231 {
  width: 231px;
}

.width-232 {
  width: 232px;
}

.width-233 {
  width: 233px;
}

.width-234 {
  width: 234px;
}

.width-235 {
  width: 235px;
}

.width-236 {
  width: 236px;
}

.width-237 {
  width: 237px;
}

.width-238 {
  width: 238px;
}

.width-239 {
  width: 239px;
}

.width-240 {
  width: 240px;
}

.width-241 {
  width: 241px;
}

.width-242 {
  width: 242px;
}

.width-243 {
  width: 243px;
}

.width-244 {
  width: 244px;
}

.width-245 {
  width: 245px;
}

.width-246 {
  width: 246px;
}

.width-247 {
  width: 247px;
}

.width-248 {
  width: 248px;
}

.width-249 {
  width: 249px;
}

.width-250 {
  width: 250px;
}

@media (min-width: 992px) {
  .w-lg-auto {
    width: auto !important;
  }
}
body {
  font-family: "Inter", sans-serif;
}

.h1 {
  font-family: "Inter", sans-serif;
}

.fs-4 {
  font-size: 4px;
}

.fs-5 {
  font-size: 5px;
}

.fs-6 {
  font-size: 6px;
}

.fs-7 {
  font-size: 7px;
}

.fs-8 {
  font-size: 8px;
}

.fs-9 {
  font-size: 9px;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-26 {
  font-size: 26px;
}

.fs-27 {
  font-size: 27px;
}

.fs-28 {
  font-size: 28px;
}

.fs-29 {
  font-size: 29px;
}

.fs-30 {
  font-size: 30px;
}

.fs-31 {
  font-size: 31px;
}

.fs-32 {
  font-size: 32px;
}

.fs-33 {
  font-size: 33px;
}

.fs-34 {
  font-size: 34px;
}

.fs-35 {
  font-size: 35px;
}

.fs-36 {
  font-size: 36px;
}

.fs-37 {
  font-size: 37px;
}

.fs-38 {
  font-size: 38px;
}

.fs-39 {
  font-size: 39px;
}

.fs-40 {
  font-size: 40px;
}

.fs-41 {
  font-size: 41px;
}

.fs-42 {
  font-size: 42px;
}

.fs-43 {
  font-size: 43px;
}

.fs-44 {
  font-size: 44px;
}

.fs-45 {
  font-size: 45px;
}

.fs-46 {
  font-size: 46px;
}

.fs-47 {
  font-size: 47px;
}

.fs-48 {
  font-size: 48px;
}

.fs-49 {
  font-size: 49px;
}

.fs-50 {
  font-size: 50px;
}

.fs-51 {
  font-size: 51px;
}

.fs-52 {
  font-size: 52px;
}

.fs-53 {
  font-size: 53px;
}

.fs-54 {
  font-size: 54px;
}

.fs-55 {
  font-size: 55px;
}

.fs-56 {
  font-size: 56px;
}

.fs-57 {
  font-size: 57px;
}

.fs-58 {
  font-size: 58px;
}

.fs-59 {
  font-size: 59px;
}

.fs-60 {
  font-size: 60px;
}

.fs-61 {
  font-size: 61px;
}

.fs-62 {
  font-size: 62px;
}

.font-weight-600 {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

.sub-headings {
  font-size: 14px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.sub-headings::before {
  content: url("../img/strip.webp");
  margin-right: 10px;
}

:root {
  --white: #fff;
  --black: #000;
  --heading: #101B37;
  --text: #475467;
  --primary: #B46B41;
  --primary-light: #CC855C;
  --form-border: #D0D5DD;
  --dark-cyan: #002F3F;
  --success: #00D685;
  --info: #0297dc;
  --danger: #FF5C5C;
  --warning: #0297dc;
  --orange: #FED319;
  --purple: #9089FC;
}

.bg-dark {
  background-color: rgb(10, 38, 51) !important;
}

.primary-border {
  border-bottom: 16px solid var(--primary);
}

.black-border {
  border-bottom: 16px solid #404147;
}

.text-color {
  color: #494C50;
}

.text-sub {
  color: #9EBAB4;
}

.box-p {
  width: 100%;
  height: 500px;
  background-color: var(--white);
  position: relative;
  overflow: hidden;
}
.box-p .over-lay {
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
  color: var(--white);
  font-size: 18px;
}
.box-p img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.uplift {
  margin-top: -140px;
}

.banner-hero {
  background-image: url(../img/banner-here.webp);
  background-size: cover;
  background-position: center;
}

.box-glass {
  width: 100%;
  height: 300px;
  border: 2px solid rgba(158, 186, 180, 0.18);
  background: rgba(255, 255, 255, 0.08);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
}
.box-glass img {
  height: 124px;
}

.banner-footer {
  background-image: url(../img/banner-footer.webp);
  background-size: cover;
}
.banner-footer img {
  height: 50px;
  width: 50px;
}

.inner .banner-content {
  height: auto;
}/*# sourceMappingURL=main.css.map */